position-3.2.iepd/XMLschemas/subset/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://niem.gov/niem/niem-core/2.0" version="1" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:iso_3166="http://niem.gov/niem/iso_3166/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:i="http://niem.gov/niem/appinfo/2.0">
  <xsd:annotation>
    <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
    <xsd:appinfo>
      <i:ConformantIndicator>true</i:ConformantIndicator>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:import schemaLocation="../../proxy/xsd/2.0/xsd.xsd" namespace="http://niem.gov/niem/proxy/xsd/2.0"/>
  <xsd:import schemaLocation="../../iso_3166/2.0/iso_3166.xsd" namespace="http://niem.gov/niem/iso_3166/2.0"/>
  <xsd:import schemaLocation="../../appinfo/2.0/appinfo.xsd" namespace="http://niem.gov/niem/appinfo/2.0"/>
  <xsd:import schemaLocation="../../structures/2.0/structures.xsd" namespace="http://niem.gov/niem/structures/2.0"/>
  <xsd:complexType name="ActivityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a single or set of related actions, events, or process steps.
</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ActivityDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ActivityName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location described by postal information.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BinaryType">
    <xsd:annotation>
      <xsd:documentation>A data type for a digital representation of an object encoded in a binary format.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:BinaryLocationURI" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ContactInformationType">
    <xsd:annotation>
      <xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:ContactMeans" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:ContactEntity" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ContactEntityDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:ContactInformationDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConveyanceType">
    <xsd:annotation>
      <xsd:documentation>A data type for a means of transport from place to place.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TangibleItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:TangibleItemType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateRangeType">
    <xsd:annotation>
      <xsd:documentation>A data type for a period of time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StartDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:EndDate" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:annotation>
      <xsd:documentation>A data type for a calendar date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DocumentType">
    <xsd:annotation>
      <xsd:documentation>A data type for a paper or electronic document.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:DocumentCreationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DocumentExpirationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DocumentStatus" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:DocumentCreator" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EntityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:EntityRepresentation" minOccurs="0" maxOccurs="2"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FacilityType">
    <xsd:annotation>
      <xsd:documentation>A data type for a building, place, or structure that provides a particular service.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IdentificationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationCategoryDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ImageType">
    <xsd:annotation>
      <xsd:documentation>A data type for a picture or visual representation of something.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="BinaryType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:BinaryType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IncidentType">
    <xsd:annotation>
      <xsd:documentation>A data type for an occurrence or an event that may require a response.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InternationalTelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for an international telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneCountryCodeID" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:TelephoneNumberID" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:TelephoneSuffixID" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for an article or thing.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LengthMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of length.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a geophysical location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:LocationAddress" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationDescriptionText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:MeasureValue" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:MeasureUnitText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OrganizationType">
    <xsd:annotation>
      <xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:OrganizationDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationLocation" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationName" minOccurs="1" maxOccurs="1"/>
          <xsd:element ref="nc:OrganizationPrimaryContactInformation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ProperNameTextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="PersonNameType">
    <xsd:annotation>
      <xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonNamePrefixText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:annotation>
      <xsd:documentation>A data type for a human being.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonNationalityText" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonOtherIdentification" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element ref="nc:PersonSex" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonUSCitizenIndicator" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:PersonNationality" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ProperNameTextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TextType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SpeedMeasureType">
    <xsd:annotation>
      <xsd:documentation>A data type for a measurement of speed.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:MeasureType">
        <xsd:sequence>
          <xsd:element ref="nc:SpeedUnitCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:documentation>A data type for a state of something or someone.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StatusText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StreetType">
    <xsd:annotation>
      <xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:StreetFullText" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="StructuredAddressType">
    <xsd:annotation>
      <xsd:documentation>A data type for an address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:AddressRecipientName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationState" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="1"/>
          <xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TangibleItemType">
    <xsd:annotation>
      <xsd:documentation>A data type for a physical object.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ItemType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ItemType">
        <xsd:sequence>
          <xsd:element ref="nc:ItemImage" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TelephoneNumberType">
    <xsd:annotation>
      <xsd:documentation>A data type for a telephone number for a telecommunication device.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/structures/2.0" i:name="Object"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element ref="nc:TelephoneNumberRepresentation" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation>A data type for a character string.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0" i:name="string"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VesselType">
    <xsd:annotation>
      <xsd:documentation>A data type for a mode of transportation capable of transport by water.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ConveyanceType"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="nc:ConveyanceType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Activity" type="nc:ActivityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A single or set of related actions, events, or process steps.
</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date of an activity.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ActivityDateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A date an activity occurs.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ActivityName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of an activity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressDeliveryPoint" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressFullText" type="nc:TextType" substitutionGroup="nc:AddressRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRecipientName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a person, organization, or other recipient to whom physical mail may be sent.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="AddressRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BinaryLocationURI" type="niem-xsd:anyURI" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A URL or file reference of a binary object.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CommentText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A remark, explanation, or observation.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactEmailID" type="niem-xsd:string" substitutionGroup="nc:ContactMeans" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An electronic mailing address by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactEntity" type="nc:EntityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An entity that may be contacted by using the given contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactEntityDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description, title or function of a person with the given contact information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactFaxNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactTelephoneNumber" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number for a facsimile device by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactTelephoneNumber"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformation" type="nc:ContactInformationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactInformationDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of the methods available to contact a person or organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMailingAddress" type="nc:AddressType" substitutionGroup="nc:ContactMeans" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A postal address by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactMeans" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A means of contacting someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactTelephoneNumber" type="nc:TelephoneNumberType" substitutionGroup="nc:ContactMeans" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number for a telecommunication device by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ContactWebsiteURI" type="niem-xsd:anyURI" substitutionGroup="nc:ContactMeans" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A website address by which a person or organization may be contacted.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="ContactMeans"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A representation of a date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DateTime" type="niem-xsd:dateTime" substitutionGroup="nc:DateRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A full date and time.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="DateRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Document" type="nc:DocumentType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A paper or electronic document.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentCreationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a document was created.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentCreator" type="nc:EntityType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An entity primarily responsible for making the content of the resource.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentExpirationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a document should be removed from a registry or index.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="DocumentStatus" type="nc:StatusType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status of a document.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EndDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An end date.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityOrganization" type="nc:OrganizationType" substitutionGroup="nc:EntityRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An organization capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityPerson" type="nc:PersonType" substitutionGroup="nc:EntityRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A person capable of bearing legal rights and responsibilities.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="EntityRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EntityRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A person, organization, or thing capable of bearing legal rights and responsibilities.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Identification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A representation of an identity.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationCategory" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A kind of identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a kind of identification.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationCategoryText" type="nc:TextType" substitutionGroup="nc:IdentificationCategory" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A kind of identification.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationCategory"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date after which an identification is no longer valid.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A value that identifies something.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdiction" abstract="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdictionISO3166Alpha3Code" type="iso_3166:CountryAlpha3CodeType" substitutionGroup="nc:IdentificationJurisdiction" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="IdentificationJurisdictionText" type="nc:TextType" substitutionGroup="nc:IdentificationJurisdiction" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="IdentificationJurisdiction"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Incident" type="nc:IncidentType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An occurrence or an event that may require a response.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="InternationalTelephoneNumber" type="nc:InternationalTelephoneNumberType" substitutionGroup="nc:TelephoneNumberRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An international telephone number.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="TelephoneNumberRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ItemImage" type="nc:ImageType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A binary representation of an image of an item.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationAddress" type="nc:AddressType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A geophysical location described by postal information.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of a city or town.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountry" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationCountryISO3166Alpha3Code" type="iso_3166:CountryAlpha3CodeType" substitutionGroup="nc:LocationCountry" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationCountry"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of a location.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An identifier of a post office-assigned zone for an address.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationState" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStateName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationState" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="LocationState"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="LocationStreet" type="nc:StreetType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressDeliveryPoint"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureText" type="nc:TextType" substitutionGroup="nc:MeasureValue" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A measurement value.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="MeasureValue"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureUnitText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit that qualifies the measurement value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="MeasureValue" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A measurement value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationDescriptionText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A description of an organization </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationLocation" type="nc:LocationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A location of an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationName" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A name of an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="OrganizationPrimaryContactInformation" type="nc:ContactInformationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A preferred means of contacting an organization.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Person" type="nc:PersonType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A human being.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A first name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A middle name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNamePrefixText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A title or honorific used by a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A term appended after the family name that qualifies the name.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNationality" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A country in which a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNationalityISO3166Alpha3Code" type="iso_3166:CountryAlpha3CodeType" substitutionGroup="nc:PersonNationality" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A country in which a person was born.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonNationality"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonNationalityText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A country in which a person was born.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Information about an identifier with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSex" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSexText" type="nc:TextType" substitutionGroup="nc:PersonSex" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A gender or sex of a person.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="PersonSex"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A last name or family name of a person.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="PersonUSCitizenIndicator" type="niem-xsd:boolean" nillable="true">
    <xsd:annotation>
      <xsd:documentation>True if a person is a citizen of the United States; false otherwise.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SpeedUnitCode" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A unit of measurement of speed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StartDate" type="nc:DateType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A date on which something begins.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StatusText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A status or condition of something or someone.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StreetFullText" type="nc:TextType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A complete reference for a street.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An address.</xsd:documentation>
      <xsd:appinfo>
        <i:Base i:name="AddressRepresentation"/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SubstanceCode" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A substance.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneCountryCodeID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>An international dialing code for a country.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneNumberRepresentation" abstract="true">
    <xsd:annotation>
      <xsd:documentation>A telephone number.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="TelephoneSuffixID" type="niem-xsd:string" nillable="true">
    <xsd:annotation>
      <xsd:documentation>Additional numbers to be entered after a call connects to be directed to the appropriate place.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Vessel" type="nc:VesselType" nillable="true">
    <xsd:annotation>
      <xsd:documentation>A mode of transportation capable of transport by water.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
